<%- include('../layout/dashboard/headview'); -%>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
		
		<!-- Header -->
		<%- include('../layout/dashboard/headerr'); -%>
		<!--/ End Header -->
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a href="/blog">Blog Single Sidebar</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
			
		<!-- Start Blog Single -->
		<section class="blog-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="blog-single-main">
							<div class="row">
								<div class="col-12">
									<div class="image">
										<img src="../<%= blog.image %>" alt="#">
									</div>
									<div class="blog-detail">
										<h2 class="blog-title"><%= blog.description1%></h2>
										<div class="blog-meta">
											<span class="author"><a href="#"><i class="fa fa-user"></i><%= blog.creater%></a><a href="#"><i class="fa fa-calendar"></i><%= blog.time%></a><a href="#"><i class="fa fa-comments"></i>Comments (<%=blog.comment.length%>)</a></span>
										</div>
										<div class="content">
											<p><%= blog.description2%></p>
										</div>
									</div>
									<div class="share-social">
										<div class="row">
											<div class="col-12">
												<div class="content-tags">
													<h4>Tags:</h4>
													
													<ul class="tag-inner">
														<% for(var i = 0; i< tag.length;i++){%>
														<li><a href="#"><%= tag[i].name%></a></li>
														<% }%> 
													</ul>
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="comments">
										<h3 class="comment-title">Comments (<%=blog.comment.length%>)</h3>
										<!-- Single Comment -->
										<% for (var i =0 ; i < blog.comment.length; i++) {%>
										<div class="single-comment">
											<img src="../<%= blog.comment[i].user.avata %>" alt="image" style="width: 70px; height: 70px;">
											<div class="content">
												<h4><%= blog.comment[i].user.lname %></h4>
												<p><%= blog.comment[i].content %></p>
												
											</div>
										</div>
										<%}%>
										<!-- End Single Comment -->
										<!-- Single Comment -->
										
										<!-- End Single Comment -->
										<!-- Single Comment -->
										
										<!-- End Single Comment -->
									</div>	
								  							
								</div>											
								<div class="col-12">			
									<div class="reply">
										<div class="reply-head">
											<h2 class="reply-title">Leave a Comment</h2>
											<!-- Comment Form -->
											<form class="form" action="/blog/comment/<%= blog.id %>" method="POST">
												<div class="row">
													
													
													<div class="col-12">
														<div class="form-group">
															<label>Your Message<span>*</span></label>
															<textarea name="content" placeholder=""></textarea>
														</div>
													</div>
													<div class="col-12">
														<div class="form-group button">
															<button type="submit" class="btn">Post comment</button>
														</div>
													</div>
												</div>
											</form>
											<!-- End Comment Form -->
										</div>
									</div>			
								</div>			
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<!-- <div class="single-widget search">
								<div class="form">
									<input type="email" placeholder="Search Here...">
									<a class="button" href="#"><i class="fa fa-search"></i></a>
								</div>
							</div> -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Blog Categories</h3>
								<% for (var i=0; i < cate.length; i++) {%>
								<ul class="categor-list">
									<li><a href=""><%= cate[i].name%></a></li>
									
								</ul>
								 <%}%>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Recent post</h3>
								<!-- Single Post -->
								<div class="single-post">
									<% for (var i=0; i < blogg.length; i++) {%>
									<div class="image">
										<img src="../<%= blogg[i].image %>" alt="#" >
									</div>
									<div class="content">
										<h5><a href="#"><%= blogg[i].description1%></a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i><%= blogg[i].time%></li>
											<!-- <li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li> -->
										</ul>
									</div>
									<%}%>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								
								<!-- End Single Post -->
								<!-- Single Post -->

								<!-- End Single Post -->
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								
								<ul class="tag">
									<% for(var i=0; i < tag.length; i++) {%>
									<li><a href="#"><%= tag[i].name%></a></li>
									<%}%>
								</ul>
								
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget newsletter">
								<h3 class="title">Newslatter</h3>
								<div class="letter-inner">
									<h4>Subscribe & get news <br> latest updates.</h4>
									<div class="form-inner">
										<input type="email" placeholder="Enter your email">
										<a href="#">Submit</a>
									</div>
								</div>
							</div>
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Blog Single -->
			
		<!-- Start Footer Area -->
		<%- include('../layout/dashboard/footer'); -%>
	<!-- /End Footer Area -->
	
	<!-- Jquery -->
    <%- include('../layout/dashboard/script'); -%>
</body>
</html>