<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h3>View Service</h3> 
                     
                </div>
                
                <form action="/admin/service/<%= serviceDetail.id %>" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" value="<%= serviceDetail.name %>" name="name">
                        <label for="logo">icon:</label>
                        <img src="../../<%= serviceDetail.icon %>" alt="" class=" img-fluid mt-3" width="200px"  >
                        <input type="file"  name="icon" /><br>
                       
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" value="<%= serviceDetail.description %>" name="description">
                         
                       
                    </div>
                    <button type="submit" class="btn btn-dark">Edit</button>
                    
                  </form>
                  <a href="/admin/service"><button  class="btn btn-dark">Cancel</button></a> 
                  </div>
            </div>
        </div>
    </div>
    
  </body>
</html>