<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
  
    <style>
        .list-unstyled li a {
        text-decoration: none; 
        color: white; 
        }
        .ig img {
            width: 50px;
            height: 100px;
        }
        .my-4-5 {
            margin-top: 1.5rem; 
            margin-bottom: 1.5rem; 
        }
        a.active-link {
            color: black !important;
        }
        button{
            margin-top: 10px;
            width: 90px;
            height: 45px;
        }
        .custom-img-size {
            width: 200px; 
            height: 250px;
        }
</style>
   
  
  </head>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
            <div class="col-lg-3 bg-secondary ">
                <div class="row py-2 border-bottom">
                    <h1>AdminLTE</h1>
                </div>
                <ul class="list-unstyled">
                    <li class="my-3"><a href="/admin/shop"><i class="bi bi-house-door"></i> Shop Information</a></li>
                    <li class="my-4-5"><a href="/admin/contact"><i class="bi bi-newspaper"></i> Contact</a></li>
                    <li class="my-4-5"><a href="/admin/social"><i class="bi bi-newspaper"></i> Social</a></li>
                    <li class="my-4-5"><a href="/admin/role"><i class="bi bi-person"></i>Role </a></li>
                    <li class="my-4-5"><a href="/admin/service"><i class="bi bi-book-half"></i> Service</a></li>
                    <li class="my-4-5"><a href="/admin/user"><i class="bi bi-columns-gap"></i> User</a></li>
                    <li class="my-4-5"><a href="/admin/comment"><i class="bi bi-house-door"></i>Comments</a></li>
                    <li class="my-4-5"><a href="/admin/review"><i class="bi bi-newspaper"></i> Reviews</a></li>
                    <li class="my-4-5"><a href="/admin/order"><i class="bi bi-newspaper"></i> Orders</a></li>
                    <li class="my-4-5"><a href="/admin/blog"><i class="bi bi-newspaper"></i> Blogs</a></li>
                    <li class="my-4-5"><a href="/admin/categories"><i class="bi bi-person-square"></i> Categories</a></li>
                    <li class="my-4-5"><a href="/admin/tag"><i class="bi bi-newspaper"></i> Tags</a></li>
                    <li class="my-4-5"><a href="/admin/product"><i class="bi bi-columns-gap"></i> Product</a></li>
                    <li class="my-4-5"><a href="/admin/img-pro"><i class="bi bi-newspaper"></i> Image Product</a></li>
                    <li class="my-4-5"><a href="/admin/user-class"><i class="bi bi-newspaper"></i> Users Clas</a></li>
                    <li class="my-4-5"><a href="/admin/discount"><i class="bi bi-newspaper"></i> Discounts</a></li>
                    <li class="my-4-5"><a href="/admin/size"><i class="bi bi-newspaper"></i> Size</a></li>
                    <li class="my-4-5"><a href="/admin/color"><i class="bi bi-newspaper"></i> Color</a></li>
  
                    <li class="my-4-5"><a href="/admin/endow"><i class="bi bi-newspaper"></i> Maketing Endow</a></li>
                    <li class="my-4-5"><a href="/admin/promo"><i class="bi bi-newspaper"></i> Promotion</a></li>
                  </ul>
            </div>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h3>View Shop</h3> 
                     
                </div>
                
                <form action="/admin/sho/<%= shopDetail.id %>" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" value="<%= shopDetail.name %>" name="name">
                        <label for="logo">Logo:</label>
                        <img src="../../<%= shopDetail.logo %>" alt="" class=" img-fluid mt-3" width="200px"  >
                        <input type="file"  name="logo" /><br>
                        <label for="mail">Mail:</label>
                        <input type="text" class="form-control" id="mail" value="<%= shopDetail.mail %>" name="mail">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" value="<%= shopDetail.phone %>" name="phone">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" value="<%= shopDetail.address %>" name="address">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" value="<%= shopDetail.description %>" name="description">
                         
                       
                    </div>
                    <button type="submit" class="btn btn-dark">Edit</button>
                    
                  </form>
                  <a href="/admin/shop"><button  class="btn btn-dark">Cancel</button></a> 
                  </div>
            </div>
        </div>
    </div>
    
  </body>
</html>