<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h2>Coupon</h2> 
                      
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Discount</th>
                          <th>Quantity</th>
                          <th>Coupon</th>
                          <th>Action</th>
                          <th>Pricemin</th>
                          <th>Buymin</th>
                          <th>Accountmin</th>
                          <th>Accountbuyin</th>
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i =0 ; i < data.length; i++) {%>
                        <tr>
                          <td><%= data[i].id %></td>
                          <td><%= data[i].name %></td>
                          <td><%= data[i].discount %></td>
                          <td><%= data[i].quantity %></td>
                          <td><%= data[i].coupon %></td>
                          <td><%= data[i].action %></td>
                          <td><%= data[i].pricemin %></td>
                          <td><%= data[i].buymin %></td>
                          <td><%= data[i].acountmin %></td>
                          <td><%= data[i].acountbuymin %></td>
                          
                          <td><a href="/admin/cou/<%= data[i].id %>">View
                            /<a href="/admin/coudele/<%= data[i].id %>">Delete</a></td>
                  
                        </tr>
                        <% }%>
                        
                      </tbody>
                    </table>
                
          
                </div>
                <a href="/admin/create-cou" class="btn btn-dark">Create</a>
                <a href="/admin/coupon/donate" class="btn btn-dark">Donate</a>
            </div>
            
          </div>
  </body>
</html>