<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h2> Orders </h2> 
                      
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Userid</th>
                          <th>Image</th>
                          <th>Quanlity</th>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Status</th>
                         
                          
                       
                        
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i =0 ; i < data.length; i++) {%>
                          <% for (var j =0 ; j < data[i].products.length; j++) {%>
                        <tr>
                          <td><%= data[i].id %></td>
                          <td><%= data[i].userrid %></td>
                          <td><img src="../<%= data[i].products[j].product.image[i].image%>" class=" img-fluid" width="20px" height="5px"></td>

                          <td><%= data[i].products[j].quanlity %></td>
                          <td><%= data[i].products[j].product.name%></td>
                          <td><%= data[i].products[j].product.price %></td>
                          <td><%= data[i].active %></td>
                          
                          
                          <td><a href="/admin/od/<%= data[i].id %>">View
                            /<a href="/admin/orderdele/<%= data[i].id %>">Delete</a></td>
                  
                        </tr>
                        <% }%>
                        <% }%>
                        
                      </tbody>
                    </table>
                
          
                </div>
                <a href="/admin/create-order" class="btn btn-dark">Create</a>
            </div>
            
          </div>
  </body>
</html>