<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h2> Reviews </h2> 
                      
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Content</th>
                          <th>Evaluate</th>
                          <th>Userid</th>
                          <th>Productid</th>
                          
                          
                       
                        
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i =0 ; i < data.length; i++) {%>
                        <tr>
                          <td><%= data[i].id %></td>
                          <td><%= data[i].content %></td>
                          <td><%= data[i].evaluate %></td>
                          <td><%= data[i].userid %></td>
                          <td><%= data[i].productid %></td>
                        
                          
                          <td><a href="/admin/rev/<%= data[i].id %>">View
                            /<a href="/admin/revdele/<%= data[i].id %>">Delete</a></td>
                  
                        </tr>
                        <% }%>
                        
                      </tbody>
                    </table>
                
          
                </div>
                <!-- <a href="/admin/create-rev" class="btn btn-dark">Create</a> -->
            </div>
            
          </div>
  </body>
</html>