<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
          <div class="col-lg-9  ">
            <div class="row text-center">
                <h2> Users </h2> 
                  
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Avata</th>
                      <th>Fname</th>
                      <th>Lname</th>
                      <th>Mail</th>
                      <th>Phone</th>
                      <th>Add1</th>
                      <th>Add2</th>
                      <th>Pass</th>
                      <th>Postal</th>
                      <th>Contry</th>
                      <th>State</th>
                      <th>Company</th>
                      <th>Roleid</th>


                      
                   
                    
                     
                     
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i =0 ; i < data.length; i++) {%>
                    <tr>
                      <td><%= data[i].id %></td>
                      <td><img src="../<%= data[i].avata %>" class=" img-fluid" width="200px" height="10px"></td>
                      <td><%= data[i].fname %></td>
                      <td><%= data[i].lname %></td>
                      <td><%= data[i].mail %></td>
                      <td><%= data[i].phone %></td>
                      <td><%= data[i].address1 %></td>
                      <td><%= data[i].address2 %></td>
                      <td><%= data[i].pass %></td>
                      <td><%= data[i].postal %></td>
                      <td><%= data[i].contry %></td>
                      <td><%= data[i].state %></td>
                      <td><%= data[i].company %></td>
                      <td><%= data[i].roleid %></td>
                      
                      <td><a href="/admin/use/<%= data[i].id %>">View
                        /<a href="/admin/userdele/<%= data[i].id %>">Delete</a></td>
              
                    </tr>
                    <% }%>
                    
                  </tbody>
                </table>
            </div>
            <a href="/admin/create-user" class="btn btn-dark">Create</a>
        </div>
            
        </div>
    </div>
    
  </body>
</html>
