<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h3>Create Blog</h3> 
                 
                </div>
                
                <form action="/admin/createblog" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                     
                    <label for="image">Image:</label>
                    <img> <input type="file"  name="image" /><br>
                    <label for="time">Time:</label>
                    <input type="text" class="form-control" id="time" value="" name="time">
                    <label for="description1">Description1:</label>
                    <input type="text" class="form-control" id="description1" value="" name="description1">
                    <label for="description2">Description2:</label>
                    <input type="text" class="form-control" id="description2" value="" name="description2">
                    <label for="create">Creater:</label>
                    <input type="text" class="form-control" id="create" value="" name="create">
                    <label for="userid">Userid:</label>
                      <select type="text" class="form-control" value="" name="userid">
                        <% for(var i=0; i< userid.length;i++){%>
                           <option VALUE="<%=userid[i].id %>"><%=userid[i].id %></option>
                       <%}%>
                         </select>
                         <label for="cate">Categories:</label>
                         <select type="text" class="form-control" value="" name="cate">
                             <% for(var i=0; i< cate.length;i++){%>
                                 <option VALUE="<%=cate[i].id %>"><%=cate[i].name %></option>
                             <%}%>
                             </select>
                         <label for="tag">Tags:</label>
                         <select type="text" class="form-control" value="" name="tag">
                             <% for(var i=0; i< tag.length;i++){%>
                                 <option VALUE="<%=tag[i].id %>"><%=tag[i].name %></option>
                             <%}%>
                                 </select>          
                           
                   
                      
                      
                      
                      
                    </div>
                  <button type="submit" class="btn btn-dark">Create</button>
                </form>
                 
            </div>
        </div>
    </div>
    
  </body>
</html>