                        
<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h2> Blog </h2> 
                      
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Image</th>
                          <th>Time</th>
                          <th>Description1</th>
                          <th>Description2</th>
                          <th>Creater</th>
                          <th>Userid</th>
                         
                          
                       
                        
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i =0 ; i < data.length; i++) {%>
                        <tr>
                          <td><%= data[i].id %></td>
                          <td><img src="../<%= data[i].image %>" class=" img-fluid" width="20px" height="5px"></td>
                          <td><%= data[i].time %></td>
                          <td><%= data[i].description1 %></td>
                          <td><%= data[i].description2 %></td>
                          <td><%= data[i].creater %></td>
                          <td><%= data[i].userid %></td>
                          
                          <td><a href="/admin/blogg/<%= data[i].id %>">View
                            /<a href="/admin/blogdele/<%= data[i].id %>">Delete</a></td>
                  
                        </tr>
                        <% }%>
                        
                      </tbody>
                    </table>
                
          
                </div>
                <a href="/admin/create-blog" class="btn btn-dark">Create</a>
            </div>
            
          </div>
  </body>
</html>