<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h2> Products </h2> 
                      
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Description</th>
                          <th>Classifid</th>
                          <th>Discountid</th>
                            
                          <th>Onsale</th>
                          <th>View</th>
                          
                       
                        
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i =0 ; i < data.length; i++) {%>
                        <tr>
                          <td><%= data[i].id %></td>
                          <td><%= data[i].name %></td>
                          <td><%= data[i].price %></td>
                          <td><%= data[i].description %></td>
                          <td><%= data[i].classifid %></td>
                          <td><%= data[i].discountid %></td>
                          <td><%= data[i].onsale %></td>
                          <td><%= data[i].view %></td>
                          
                          <td><a href="/admin/pro/<%= data[i].id %>">View
                            /<a href="/admin/prodele/<%= data[i].id %>">Delete</a></td>
                  
                        </tr>
                        <% }%>
                        
                      </tbody>
                    </table>
                
          
                </div>
                <a href="/admin/create-pro" class="btn btn-dark">Create</a>
            </div>
            
          </div>
  </body>
</html>